.phdr2 {
background : #83b91e url(phdr.gif) repeat-x;
margin : 1px;
border-left : 1px solid #EFEFEF;
border-right : 1px solid #EFEFEF;
color : #fff;
margin-left : 2px;
margin-right : 2px;
padding : 6px;
}
.phdr {
margin : 1px 5px;
background : #55b74f url(cont.gif) repeat-x bottom;
border-left : 1px solid #EFEFEF;
border-right : 1px solid #EFEFEF;
color : #fff;
margin-left : 2px;
margin-right : 2px;
padding : 7px;
}
.menu, .list1, .list2 {
background-color : #FFFFFF;
border-bottom : 1px solid #bcf8b8;
border-left : 1px solid #bcf8b8;
border-right : 1px solid #bcf8b8;
margin : 1px;
margin-left : 2px;
margin-right : 2px;
color : #527317;
padding : 4px;
}
.menu a:hover {
text-decoration : none;
font-weight : bold;
}
.footer a:link, .footer a:visited {
color : #fff;
text-decoration : none;
}
.footer {
background : #83b91e url(footer.gif) repeat-x;
margin : 1px;
border-left : 1px solid #EFEFEF;
border-right : 1px solid #EFEFEF;
color : #fff;
margin-left : 2px;
margin-right : 2px;
padding : 6px;
}
.phdr a:link {
color : #fff;
font-weight : bold;
text-decoration : none;
}
.phdr a {
color : #6a8f2a;
font-weight : bold;
text-decoration : none;
}
.phdr a:link {
color : #6a8f2a;
font-weight : bold;
text-decoration : none;
}

@font-face {
	font-family: 'Stroke-Gap-Icons';
	src: url('Stroke-Gap-Icons.eot');
}
@font-face {
	font-family: 'Stroke-Gap-Icons';
	src: url(Stroke-Gap-Icons.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
.menu a:hover {
text-decoration : none;
font-weight : bold;
}
