.green {
    background-color: green;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

#questionNumberSection div {
    padding: 10px;
    margin: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.green {
    border-color: green;
}

.red {
    border-color: red;
}

.active {
    border-color: blue;
}

.answer.correct {
    background-color: #c8e6c9;
    border-color: #388e3c;
}

.answer.incorrect {
    background-color: #ffcdd2;
    border-color: #d32f2f;
}
